body {
  font-family: sans-serif;
  height: 1500px;
  margin: 0px;
  padding: 0px;
}

#header {
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #ff7979;
  top: 0px;
  left: 0px;
}

#intersection {
  background-color: #badc58;
  width: 10%;
  height: 40px;
  position: fixed;
  left: 75%;
  top: 80px;
}

#container {
  display: flex;
}

#leftBox {
  box-sizing: border-box;
  background-color: #7ed6df;
  width: 80%;
  margin: 100px 0px 0px 0px;
  padding: 50px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

#rightBox {
  box-sizing: border-box;
  background-color: #ffcc00;
  width: 20%;
  height: 1400px;
  margin: 100px 0px 0px 0px;
  border: 5px solid grey;
}
